@import '../../global.scss';

.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    h1{
        font-size: 50px;

        @include mobile {
            font-size: 40px;
        }
    }

    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        
        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
            margin: 10px 0 20px;
        }

        // li{
        //    @include mobile{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     text-align: center;
        //    }
        // }
        
    }

    .container{
        height: 70%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        scroll-snap-type: mandatory;
        scroll-snap-type: y mandatory;

        @include mobile {
            width: 100%;
        }

        &::-webkit-scrollbar{
            display: none;
        }
        
        
        .item{
            width: 220px;
            height: 150px;
            border-radius: 20px;
            border: 1px solid lightgray;
            margin: 10px 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all 0.5s ease;
            scroll-snap-align: start;
            position: relative;

            @include mobile {
                width: 130px;
                height: 100px;
            }
            

            h3{
                position: absolute;
                font-size: 20px;
                @include mobile {
                    font-size: 16px;
                    text-align: center;
                }
            }
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
    
            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.3;
                    z-index: 0;
                }
            }
        }
       
        
    }
}