@import '../../global.scss';


.intro{
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
    

    .left{
        flex: 0.5;
        overflow: hidden;
       
        .imgContainer{
            overflow: hidden;
            width: 850px;
            height: 850px;
            background: #A0CBEE;
            background: #2195F5;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            float: right;

            @include mobile{
                align-items: flex-start;
            }

            img{
                height: 90%;

                @include mobile {
                    height: 50%;
                }
            }
        }
    }
    .right{
        flex: 0.5;
        // background: red;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;


            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                    font-size: 50px;
                }
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;

               


                span{
                    font-size: inherit;
                    color: #2195f5;
                }
                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }

        a{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;

            img{
                width: 30px;
                animation: blinkArrow 2s infinite;
            }

            @keyframes blinkArrow {
                0%{
                    transform: translateY(0px);
                    opacity: 1;
                }
                100%{
                    transform: translateY(12px);
                    opacity: 0;
                }
            }
        }
    }
}